@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Tajawal:wght@300&display=swap');
.container1
{
    display: flex;
    flex-wrap: wrap;
}
.card
{
    width:50%;
    margin:5% 5%;
    padding :1%;
    color:#8dd0e3;
    text-align: center;
    text-shadow: 1px 1px black; 
    border: 10px #8dd0e3 solid;
}
.heading
{
    text-align: center;
    color:#8dd0e3;
    text-shadow: 1px 1px black;
}
#headin
{
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color:white;
}
.container{
    font-family: 'Bree Serif', serif;
    font-size: 18px;
}
nav{
    background-color: #8dd0e3;
}
header li{
    padding-left:20px;
}
button{
    color:white;
    background-color: #8dd0e3;
    padding:2% 10%;
    border: white;
}